<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free movie catalogue for you">
    
    <link rel="stylesheet" href="./favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <title>Movie Catalogue</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Movie Catalogue</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/now-playing">Now Playing</a></li>
                <li><a href="#/upcoming">Upcoming</a></li>
            </ul>
        </nav>
    </header>
    <div class="movie">
        <article class="movie_poster">
            <img class="movie-item__header_poster" src="https://restaurant-api.dicoding.dev/images/medium/41"  alt="movie-1">
            <H4 class="movie__info">Lorem ipsum dolor sit</H4>
        </article>
    </div>
    
    <main id="mainContent">

        <section class="content">
            <div class="content__heading">
                <h1>The New Movie</h1>
            </div>
            <div class="movies">
                <article class="movie-item">
                    <div class="movie-item__header">
                        <img class="movie-item__header_poster" src="https://restaurant-api.dicoding.dev/images/medium/41"  alt="movie-1">
                        <h1 class="movie-item__header_rating"><a href="#">Bring Your Phone Cafe</a></h1>
                        <div class="movie-item__header__rating__score">
                            <p>Score: <a href="#">4.6</a></p> 
                        </div>
                    </div>
                    <div class="movie-item__content">
                        <h3><a href="">Lorem ipsum</a></h3>
                        <p>Lorem ipsum</p>
                    </div>
                </article>

                <article class="movie-item">
                    <div class="movie-item__header">
                        <img class="movie-item__header_poster" src="https://restaurant-api.dicoding.dev/images/medium/07"  alt="movie-1">
                        <h1 class="movie-item__header_rating"><a href="#">Bring Your Phone Cafe</a></h1>
                        <div class="movie-item__header__rating__score">
                            <p>Score: <a href="#">4.6</a></p> 
                        </div>
                    </div>
                    <div class="movie-item__content">
                        <h3><a href="">Lorem ipsum</a></h3>
                        <p>Lorem ipsum</p>
                    </div>
                </article>

                <article class="movie-item">
                    <div class="movie-item__header">
                        <img class="movie-item__header_poster" src="https://restaurant-api.dicoding.dev/images/medium/07"  alt="movie-1">
                        <h1 class="movie-item__header_rating"><a href="#">Bring Your Phone Cafe</a></h1>
                        <div class="movie-item__header__rating__score">
                            <p>Score: <a href="#">4.6</a></p> 
                        </div>
                    </div>
                    <div class="movie-item__content">
                        <h3><a href="">Lorem ipsum</a></h3>
                        <p>Lorem ipsum</p>
                    </div>
                </article>

                <article class="movie-item">
                    <div class="movie-item__header">
                        <img class="movie-item__header_poster" src="https://restaurant-api.dicoding.dev/images/medium/07"  alt="movie-1">
                        <h1 class="movie-item__header_rating"><a href="#">Bring Your Phone Cafe</a></h1>
                        <div class="movie-item__header__rating__score">
                            <p>Score: <a href="#">4.6</a></p> 
                        </div>
                    </div>
                    <div class="movie-item__content">
                        <h3><a href="">Lorem ipsum</a></h3>
                        <p>Lorem ipsum</p>
                    </div>
                </article>
                
            </div>
        </section>
    </main>
    <footer>
        <p>All data obtained from <a href="https://themovie.org" target="_blank" rel="noreferrer">TheMovieDB</a></p>
    </footer>
</body>
</html>